In [1]:
import os
import pandas as pd 
import numpy as np
import datetime as dt

In [2]:
data_path = os.path.join(os.path.abspath(os.curdir), 'data', 'fire.csv') 
data = pd.read_csv(data_path, low_memory=False) 
data.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
data

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,cause,cause_group,cause_cat,extinction_days
0,2001,BL20190,Coimbra,Oliveira do Hospital,2001-07-02,16:40:00,2001-07-02,17:25:00,0.300000,1.0,12.0,negligente,desconhecida,desconhecida,0.0
1,2001,DM201114,Aveiro,Arouca,2001-08-03,17:47:00,2001-08-06,18:15:00,174.000000,0.0,12.0,negligente,desconhecida,desconhecida,3.0
2,2001,DM401117,Viana do Castelo,Melgaço,2001-09-17,18:59:00,2001-09-18,02:40:00,54.000000,0.0,12.0,negligente,desconhecida,desconhecida,1.0
3,2001,DM901112,Braga,Terras de Bouro,2001-09-04,23:05:00,2001-09-05,11:15:00,80.000000,0.0,12.0,negligente,desconhecida,desconhecida,1.0
4,2001,DM901113,Braga,Amares,2001-09-06,18:50:00,2001-09-07,00:25:00,28.000000,0.0,12.0,negligente,desconhecida,desconhecida,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331222,2020,AG120614,NaN,NaN,2020-07-06,14:56:00,2020-07-07,10:00:00,535.632996,NaN,NaN,negligente,NaN,NaN,NaN
331223,2020,BL220206,NaN,NaN,2020-07-04,13:09:00,2020-07-05,00:53:00,156.279175,NaN,NaN,intencional,NaN,NaN,NaN
331224,2020,AT320158,NaN,NaN,2020-07-04,16:00:00,2020-07-04,17:07:00,1.407192,NaN,NaN,desconhecida,NaN,NaN,NaN
331225,2020,RO120327,NaN,NaN,2020-07-05,16:09:00,2020-07-05,20:39:00,26.590605,NaN,NaN,reacendimento,NaN,NaN,NaN
331226,2020,BL420269,NaN,NaN,2020-07-05,16:12:00,2020-07-05,18:36:00,1.170757,NaN,NaN,intencional,NaN,NaN,NaN

In [4]:
counties_to_parse = {'Almodóvar': 'Almodôvar', 
 'Freixo Espada à Cinta': 'Freixo de Espada à Cinta',
 'Montemor-o-novo': 'Montemor-o-Novo', 
 'Vila Vi?osa': 'Vila Viçosa', 
 'Alter do Ch?o': 'Alter do Chão', 
 'Ponte De Sor': 'Ponte de Sor', 
 'Vila Velha De R?d?o': 'Vila Velha de Ródão',
 'Idanha-a-nova': 'Idanha-a-Nova', 
 'Sert?': 'Sertã', 
 'Fund?o': 'Fundão', 
 'Proen?a-a-nova': 'Proença-a-Nova', 
 'Covilh?': 'Covilhã', 
 'Oliveira Do Hospital': 'Oliveira do Hospital', 
 'G?is': 'Góis', 
 '?lhavo': 'Ílhavo', 
 '?gueda': 'Águeda', 
 'Viana Do Castelo': 'Viana do Castelo', 
 'Paredes De Coura': 'Paredes de Coura', 
 'Arcos De Valdevez': 'Arcos de Valdevez',
 'Mon??o': 'Monção', 
 'Vila Nova de Cerveira': 'Vila Nova de Cerveira', 
 'VIZELA': 'Vizela', 
 'Our?m': 'Ourém', 
 'Ma??o': 'Mação',
 'Arruda Dos Vinhos': 'Arruda dos Vinhos', 
 'Gr?ndola': 'Grândola', 
 'Montemor-o-velho': 'Montemor-o-Velho', 
 'Cabeceiras De Basto': 'Cabeceiras de Basto', 
 'Oliveira Do Bairro': 'Oliveira do Bairro', 
 'Oliveira do Bairrro': 'Oliveira do Bairro', 
 'Figueira Da Foz': 'Figueira da Foz', 
 'Proença-a-nova': 'Proença-a-Nova', 
 'Condeixa-a-nova': 'Condeixa-a-Nova', 
 'Albergaria-a-velha': 'Albergaria-a-Velha', 
 'Freixo de Espada À Cinta': 'Freixo de Espada à Cinta',
 'M?rtola': 'Mértola', 
 'Almod?var': 'Almodôvar',
 'Mour?o': 'Mourão', 
 'Pa?os de Ferreira': 'Paços de Ferreira', 
 'Vila Do Conde': 'Vila do Conde', 
 'Bai?o': 'Baião', 
 'P?voa de Varzim': 'Póvoa de Varzim', 
 'Guimar?es': 'Guimarães', 
 'Vila Nova de Famalic?o': 'Vila Nova de Famalicão',                     
 'P?voa de Lanhoso': 'Póvoa de Lanhoso', 
 'P?voa De Lanhoso': 'Póvoa de Lanhoso', 
 'Gavi?o': 'Gavião', 
 'Marv?o': 'Marvão', 
 'Vila Velha de R?d?o': 'Vila Velha de Ródão', 
 'Alter Do Ch?o': 'Alter do Chão', 
 'Santa Comba D?o': 'Santa Comba Dão', 
 'S?o Pedro do Sul': 'São Pedro do Sul', 
 'S?o Pedro Do Sul': 'São Pedro do Sul', 
 '?vora': 'Évora'
 }

In [5]:
for item in counties_to_parse.items():
    if len(data.iloc[data[data['county'] == item[0]].index, 3]) > 0:
        data.iloc[data[data['county'] == item[0]].index, 3] = item[1] 
    else: 
        continue

In [6]:
data['county'].unique()

array(['Oliveira do Hospital', 'Arouca', 'Melgaço', 'Terras de Bouro',
       'Amares', 'Viana do Castelo', 'Fafe', 'Vieira do Minho',
       'Ponte da Barca', 'Monção', 'Cabeceiras de Basto',
       'Ribeira de Pena', 'Mondim de Basto', 'Évora', 'Santiago do Cacém',
       'Almodôvar', 'Viana do Alentejo', 'Elvas', 'Mértola', 'Avis',
       'Aljustrel', 'Alcácer do Sal', 'Redondo', 'Beja', 'Grândola',
       'Crato', 'Trancoso', 'Covilhã', 'Oleiros', 'Sertã', 'Vila de Rei',
       'Fundão', 'Proença-a-Nova', 'Castro Daire', 'Sátão', 'Viseu',
       'Murtosa', 'Carregal do Sal', 'Anadia', 'Ovar',
       'Vila Nova de Paiva', 'Águeda', 'Mangualde', 'Aguiar da Beira',
       'Penalva do Castelo', 'Mealhada', 'Pombal', 'Penacova',
       'Pampilhosa da Serra', 'Coimbra', 'Vila Nova de Poiares',
       'Figueiró dos Vinhos', 'Lousã', 'Tábua', 'Miranda do Corvo',
       'Marinha Grande', 'Porto de Mós', 'Pedrógão Grande', 'Góis',
       'Arganil', 'Castanheira de Pêra', 'Ansião', 'Cantanhede', 'Leiria',
       'Mira', 'Penela', 'Ponte de Lima', 'Paredes de Coura', 'Amarante',
       'Marco de Canaveses', 'Vila Nova de Famalicão', 'Braga', 'Valença',
       'Santa Maria da Feira', 'Sintra', 'Cartaxo', 'Almeirim',
       'Azambuja', 'Abrantes', 'Salvaterra de Magos', 'Chamusca',
       'Cascais', 'Constância', 'Alcanena', 'Ferreira do Zêzere',
       'Santarém', 'Chaves', 'Boticas', 'Lamego', 'Montalegre',
       'Vila Real', 'Alijó', 'Murça', 'Vila Pouca de Aguiar', 'Valpaços',
       'Tarouca', 'Santa Marta de Penaguião', 'Vinhais',
       'Macedo de Cavaleiros', 'Freixo de Espada à Cinta',
       'Torre de Moncorvo', 'Mogadouro', 'Vimioso', 'Bragança',
       'Mirandela', 'Miranda do Douro', 'Moimenta da Beira', 'Monchique',
       'Reguengos de Monsaraz', 'Gouveia', 'Figueira de Castelo Rodrigo',
       'Manteigas', 'Mêda', 'Seia', 'Belmonte', 'Mação',
       'Oliveira de Frades', 'Nelas', 'Vouzela', 'São Pedro do Sul',
       'Albergaria-a-Velha', 'Santa Comba Dão', 'Mortágua', 'Tondela',
       'Vagos', 'Figueira da Foz', 'Alvaiázere', 'Soure',
       'Montemor-o-Velho', 'Valongo', 'Guimarães', 'Celorico de Basto',
       'Gondomar', 'Tomar', 'Sardoal', 'Rio Maior', 'Nazaré',
       'Caldas da Rainha', 'Ourém', 'Mafra', 'Peniche', 'Alenquer',
       'Torres Novas', 'Coruche', 'Paredes', 'Trofa', 'Portimão',
       'Silves', 'Loulé', 'Alcoutim', 'Vila Real de Santo António',
       'Barrancos', 'Castro Verde', 'Odemira', 'Ourique', 'Mora',
       'Portel', 'Ponte de Sor', 'Serpa', 'Sines', 'Moura',
       'Fornos de Algodres', 'Celorico da Beira', 'Ílhavo',
       'Condeixa-a-Nova', 'Barcelos', 'Arcos de Valdevez', 'Lousada',
       'Vila do Conde', 'Faro', 'Aljezur', 'Tavira', 'Lagoa', 'Albufeira',
       'Lagos', 'Olhão', 'São Brás de Alportel', 'Vila do Bispo',
       'Alter do Chão', 'Marvão', 'Gavião', 'Nisa', 'Castelo de Vide',
       'Sousel', 'Montemor-o-Novo', 'Cuba', 'Vendas Novas', 'Alvito',
       'Ferreira do Alentejo', 'Arraiolos', 'Portalegre', 'Alandroal',
       'Estremoz', 'Mourão', 'Pinhel', 'Sabugal', 'Vila Viçosa', 'Guarda',
       'Almeida', 'Penamacor', 'Castelo Branco', 'Vila Velha de Ródão',
       'Idanha-a-Nova', 'Aveiro', 'Oliveira do Bairro', 'Estarreja',
       'Sever do Vouga', 'Espinho', 'Batalha', 'Penafiel', 'Baião',
       'Felgueiras', 'Santo Tirso', 'Paços de Ferreira',
       'Castelo de Paiva', 'Vila Nova de Gaia', 'Oliveira de Azeméis',
       'Vale de Cambra', 'Vizela', 'Vila Verde', 'Póvoa de Lanhoso',
       'Esposende', 'Vila Nova de Cerveira', 'Caminha', 'Maia',
       'Póvoa de Varzim', 'Matosinhos', 'Cinfães', 'São João da Madeira',
       'Porto', 'Resende', 'Torres Vedras', 'Loures', 'Oeiras', 'Cadaval',
       'Vila Franca de Xira', 'Lisboa', 'Seixal', 'Lourinhã',
       'Sobral de Monte Agraço', 'Entroncamento', 'Montijo', 'Amadora',
       'Óbidos', 'Setúbal', 'Sesimbra', 'Palmela', 'Alpiarça', 'Moita',
       'Benavente', 'Vila Nova da Barquinha', 'Barreiro',
       'Arruda dos Vinhos', 'Almada', 'Bombarral', 'Alcobaça',
       'Alcochete', 'Peso da Régua', 'Sabrosa', 'Sernancelhe',
       'São João da Pesqueira', 'Penedono', 'Armamar', 'Mesão Frio',
       'Tabuaço', 'Vila Nova de Foz Côa', 'Carrazeda de Ansiães',
       'Vila Flor', 'Alfândega da Fé', 'Vidigueira', 'Castro Marim',
       'Campo Maior', 'Borba', 'Arronches', 'Odivelas', 'Golegã',
       'Monforte', 'Fronteira', 'Meda', 'Sobral Monte Agraço', nan],
      dtype=object)

In [7]:
data.isnull().sum()

year                    0
code                    0
region               3636
county               3585
start_date          85884
start_time            136
end_date            86108
end_time              489
total_ba                0
rekindling           9243
code_cause         223302
cause              214790
cause_group        230204
cause_cat          230204
extinction_days      9683
dtype: int64

In [8]:
data['cause'].unique()

array(['negligente', 'intencional', 'natural', 'desconhecida', nan,
       'reacendimento', ' '], dtype=object)

In [9]:
data['cause_group'].unique()

array(['desconhecida', 'clandestinos', 'vandalismo',
       'outras situações dolosas', nan, 'autárquica', 'indústria',
       'actividades clandestinas', 'núcleos habitacionais permanentes',
       'núcleos habitacionais temporários associados ao recreio',
       'limpeza do solo agrícola', 'limpeza do solo florestal',
       'limpeza de áreas urbanizadas', 'borralheiras',
       'renovação de pastagens',
       'penetração em áreas de caça e margens dos rios',
       'limpeza de caminhos, acessos e instalações',
       'proteção contra incêndios', 'outras', 'com medidas preventivas',
       'auto-ignição', 'recreio e lazer', 'confecção de comida',
       'fumadores a pé', 'em circulação motorizada', 'fumigação',
       'linhas eléctricas', 'caminhos de ferro', 'tubos de escape',
       'acidentes de viação', 'alfaias agrícolas', 'máquinas agrícolas',
       'equipamento florestal', 'motosserras', 'máquinas florestais',
       'máquinas industriais', 'outra maquinaria e equipamento', 'vidros',
       'conflitos de caça', 'danos provocados pela vida selvagem',
       'alterações no uso do solo',
       'pressão para venda de material lenhoso',
       'limitação ao uso e gestão do solo',
       'contradições no uso e fruição dos baldios',
       'brincadeiras de crianτas', 'irresponsabilidade de menores',
       'piromania', 'outras situações inimputáveis',
       'manobras de diversão', 'provocação aos meios de combate',
       'conflitos entre vizinhos', 'vinganças', 'prova material',
       'prova pessoal', 'outras informações', 'reparação de estradas',
       'de habitação', 'outros acidentes', 'soldaduras', 'aquecimento',
       'exercícios militares', 'comércio', 'desinfestação', 'industriais',
       'explosivos', 'disparos de caçadores'], dtype=object)

In [10]:
data['cause_cat'].unique()

array(['desconhecida', 'uso do fogo', 'incendiarismo', nan, 'acidentais',
       'estruturais', 'indeterminadas'], dtype=object)

In [11]:
data.rename(columns={'cause': 'to_del', 'cause_group': 'specific', 'cause_cat': 'category'}, inplace=True)

In [12]:
data['category'].unique()

array(['desconhecida', 'uso do fogo', 'incendiarismo', nan, 'acidentais',
       'estruturais', 'indeterminadas'], dtype=object)

In [13]:
data[data['category'] == 'indeterminadas']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
27839,2002,AG102148,Faro,Alcoutim,2002-07-26,22:38:00,2002-07-27,04:20:00,15.0,0.0,610.0,desconhecida,prova material,indeterminadas,1.0
27840,2002,AG102155,Faro,São Brás de Alportel,2002-07-28,12:25:00,2002-07-31,20:00:00,305.0,0.0,610.0,desconhecida,prova material,indeterminadas,3.0
27841,2002,AG102154,Faro,Faro,2002-07-24,14:38:00,2002-07-27,05:00:00,144.0,0.0,610.0,desconhecida,prova material,indeterminadas,3.0
27842,2002,AG102174,Faro,Monchique,2002-08-09,16:25:00,2002-08-10,05:00:00,1.1,0.0,610.0,desconhecida,prova material,indeterminadas,1.0
27843,2002,AG10212,Faro,Portimão,2002-07-05,17:50:00,2002-07-06,11:50:00,19.3,0.0,610.0,desconhecida,prova material,indeterminadas,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316781,2015,BI215459,Castelo Branco,Covilhã,NaN,15:55:00,NaN,17:49:00,0.2,0.0,630.0,desconhecida,outras informações,indeterminadas,0.0
316782,2015,RO315730,Setúbal,Almada,NaN,00:04:00,NaN,00:25:00,0.0,0.0,630.0,desconhecida,outras informações,indeterminadas,0.0
316783,2015,RO315972,Setúbal,Seixal,NaN,15:41:00,NaN,17:40:00,0.0,0.0,630.0,desconhecida,outras informações,indeterminadas,0.0
316784,2015,RO315827,Setúbal,Almada,NaN,16:42:00,NaN,17:50:00,0.0,0.0,630.0,desconhecida,outras informações,indeterminadas,0.0
316785,2015,BI215370,Castelo Branco,Covilhã,NaN,23:33:00,NaN,00:10:00,0.0,0.0,630.0,desconhecida,outras informações,indeterminadas,0.0

In [14]:
data.iloc[data[data['category'] == 'indeterminadas'].index, 12:14] = 'desconhecida'

In [15]:
data[data['category'] == 'incendiarismo']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
893,2001,DM201557,Porto,Amarante,2001-09-06,12:10:00,2001-09-06,19:25:00,2.0,0.0,448.0,intencional,vandalismo,incendiarismo,0.0
894,2001,DM201828,Porto,Paredes,2001-09-16,16:04:00,2001-09-17,12:50:00,1.3,0.0,448.0,intencional,vandalismo,incendiarismo,1.0
895,2001,DM401385,Viana do Castelo,Monção,2001-08-12,15:25:00,2001-08-12,20:35:00,5.0,0.0,448.0,intencional,vandalismo,incendiarismo,0.0
896,2001,DM901122,Vila Real,Mondim de Basto,2001-09-06,01:59:00,2001-09-06,04:15:00,3.0,0.0,448.0,intencional,vandalismo,incendiarismo,0.0
897,2001,DM901163,Viana do Castelo,Ponte de Lima,2001-12-18,09:34:00,2001-12-18,12:50:00,3.0,0.0,448.0,intencional,vandalismo,incendiarismo,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313047,2015,DM215415,Porto,Baião,NaN,19:55:00,NaN,21:45:00,0.0,0.0,449.0,intencional,outras situações dolosas,incendiarismo,0.0
313048,2015,DM215212,Porto,Amarante,NaN,23:35:00,NaN,01:25:00,0.0,0.0,449.0,intencional,outras situações dolosas,incendiarismo,0.0
313049,2015,DM215418,Porto,Baião,NaN,00:19:00,NaN,02:15:00,0.0,0.0,449.0,intencional,outras situações dolosas,incendiarismo,0.0
313050,2015,DM415221,Braga,Celorico de Basto,NaN,05:13:00,NaN,07:55:00,0.4,0.0,449.0,intencional,outras situações dolosas,incendiarismo,0.0
313051,2015,BI215372,Castelo Branco,Idanha-a-Nova,NaN,23:49:00,NaN,01:52:00,0.3,0.0,449.0,intencional,outras situações dolosas,incendiarismo,0.0

In [16]:
data[(data['category'] == 'incendiarismo') & (data['specific'].isna())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [17]:
data[data['category'] == 'acidentais']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
27251,2002,AT902227,Setúbal,Santiago do Cacém,2002-07-31,19:40:00,2002-07-31,22:40:00,1.0,0.0,211.0,negligente,linhas eléctricas,acidentais,0.0
27252,2002,BL202118,Coimbra,Penela,2002-09-03,15:30:00,2002-09-03,18:30:00,0.0,0.0,211.0,negligente,linhas eléctricas,acidentais,0.0
27253,2002,BL202361,Coimbra,Figueira da Foz,2002-07-17,15:34:00,2002-07-18,01:30:00,24.0,0.0,211.0,negligente,linhas eléctricas,acidentais,1.0
27254,2002,BL20297,Leiria,Castanheira de Pêra,2002-02-20,10:58:00,2002-02-20,13:00:00,0.8,0.0,211.0,negligente,linhas eléctricas,acidentais,0.0
27255,2002,BL202995,Aveiro,Mealhada,2002-08-20,14:36:00,2002-08-20,22:15:00,25.0,0.0,211.0,negligente,linhas eléctricas,acidentais,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310247,2015,AG115450,Faro,Silves,NaN,15:41:00,NaN,18:43:00,0.3,0.0,236.0,negligente,outras,acidentais,0.0
310248,2015,BI215341,Castelo Branco,Covilhã,NaN,23:23:00,NaN,00:19:00,0.1,0.0,236.0,negligente,outras,acidentais,0.0
310249,2015,RO115102,Santarém,Abrantes,NaN,14:47:00,NaN,16:00:00,0.1,0.0,236.0,negligente,outras,acidentais,0.0
310250,2015,BL415677,Leiria,Leiria,NaN,18:26:00,NaN,20:33:00,0.2,0.0,236.0,negligente,outras,acidentais,0.0
310251,2015,BI115618,Guarda,Seia,NaN,13:57:00,NaN,15:02:00,0.1,0.0,236.0,negligente,outras,acidentais,0.0

In [18]:
data[(data['category'] == 'acidentais') & (data['specific'].isna())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [19]:
data[data['category'] == 'uso do fogo']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
11,2001,DM301161,Braga,Cabeceiras de Basto,2001-08-06,16:20:00,2001-08-07,00:25:00,12.0,1.0,132.0,negligente,clandestinos,uso do fogo,1.0
12,2001,DM301164,Vila Real,Ribeira de Pena,2001-08-08,23:06:00,2001-08-09,03:25:00,0.5,0.0,132.0,negligente,clandestinos,uso do fogo,1.0
13,2001,DM301768,Vila Real,Mondim de Basto,2001-08-04,14:02:00,2001-08-04,15:20:00,0.2,0.0,132.0,negligente,clandestinos,uso do fogo,0.0
14,2001,DM901134,Braga,Amares,2001-09-16,22:59:00,2001-09-17,02:45:00,30.0,0.0,132.0,negligente,clandestinos,uso do fogo,1.0
15,2001,DM901692,Vila Real,Ribeira de Pena,2001-06-23,14:00:00,2001-06-23,22:00:00,22.0,0.0,132.0,negligente,clandestinos,uso do fogo,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309851,2015,BL215538,Coimbra,Tábua,NaN,15:23:00,NaN,16:31:00,1.0,0.0,161.0,negligente,fumigação,uso do fogo,0.0
309852,2015,BI21586,Castelo Branco,Proença-a-Nova,NaN,14:37:00,NaN,16:40:00,0.2,0.0,161.0,negligente,fumigação,uso do fogo,0.0
309853,2015,BL415696,Leiria,Marinha Grande,NaN,15:37:00,NaN,18:00:00,3.2,0.0,161.0,negligente,fumigação,uso do fogo,0.0
309854,2015,BL115114,Viseu,Mortágua,NaN,02:19:00,NaN,04:00:00,0.1,0.0,162.0,negligente,desinfestação,uso do fogo,0.0
309855,2015,RO215161,Lisboa,Mafra,NaN,10:16:00,NaN,10:52:00,0.0,0.0,171.0,negligente,industriais,uso do fogo,0.0

In [20]:
data[(data['category'] == 'uso do fogo') & (data['specific'].isna())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [21]:
data[data['category'] == 'estruturais']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
27308,2002,AG102169,Faro,Vila Real de Santo António,2002-07-16,16:40:00,2002-07-17,00:45:00,49.4,0.0,311.0,intencional,conflitos de caça,estruturais,1.0
27309,2002,AT902260,Beja,Mértola,2002-08-13,13:43:00,2002-08-14,16:25:00,390.0,0.0,311.0,intencional,conflitos de caça,estruturais,1.0
27310,2002,AT902273,Beja,Mértola,2002-08-06,14:45:00,2002-08-06,22:00:00,76.0,0.0,311.0,intencional,conflitos de caça,estruturais,0.0
27311,2002,AT902251,Beja,Mértola,2002-07-31,13:27:00,2002-07-31,14:25:00,0.3,0.0,311.0,intencional,conflitos de caça,estruturais,0.0
27312,2002,BL102162,Aveiro,Aveiro,2002-08-27,15:05:00,2002-08-28,07:00:00,29.0,1.0,311.0,intencional,conflitos de caça,estruturais,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310316,2015,DM415173,Braga,Vila Nova de Famalicão,NaN,12:18:00,NaN,16:55:00,2.5,0.0,335.0,intencional,limitação ao uso e gestão do solo,estruturais,0.0
310317,2015,TM21567,Bragança,Bragança,NaN,14:01:00,NaN,17:40:00,56.3,0.0,336.0,intencional,contradições no uso e fruição dos baldios,estruturais,0.0
310318,2015,TM215126,Bragança,Bragança,NaN,17:12:00,NaN,23:50:00,42.8,0.0,336.0,intencional,contradições no uso e fruição dos baldios,estruturais,0.0
310319,2015,TM21581,Bragança,Bragança,NaN,17:00:00,NaN,19:30:00,0.6,0.0,336.0,intencional,contradições no uso e fruição dos baldios,estruturais,0.0
310320,2015,TM215100,Bragança,Bragança,NaN,16:30:00,NaN,21:30:00,3.4,0.0,336.0,intencional,contradições no uso e fruição dos baldios,estruturais,0.0

In [22]:
data[(data['category'] == 'estruturais') & (data['specific'].isna())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [23]:
data[data['category'] == 'desconhecida']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
0,2001,BL20190,Coimbra,Oliveira do Hospital,2001-07-02,16:40:00,2001-07-02,17:25:00,0.3,1.0,12.0,negligente,desconhecida,desconhecida,0.0
1,2001,DM201114,Aveiro,Arouca,2001-08-03,17:47:00,2001-08-06,18:15:00,174.0,0.0,12.0,negligente,desconhecida,desconhecida,3.0
2,2001,DM401117,Viana do Castelo,Melgaço,2001-09-17,18:59:00,2001-09-18,02:40:00,54.0,0.0,12.0,negligente,desconhecida,desconhecida,1.0
3,2001,DM901112,Braga,Terras de Bouro,2001-09-04,23:05:00,2001-09-05,11:15:00,80.0,0.0,12.0,negligente,desconhecida,desconhecida,1.0
4,2001,DM901113,Braga,Amares,2001-09-06,18:50:00,2001-09-07,00:25:00,28.0,0.0,12.0,negligente,desconhecida,desconhecida,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316781,2015,BI215459,Castelo Branco,Covilhã,NaN,15:55:00,NaN,17:49:00,0.2,0.0,630.0,desconhecida,desconhecida,desconhecida,0.0
316782,2015,RO315730,Setúbal,Almada,NaN,00:04:00,NaN,00:25:00,0.0,0.0,630.0,desconhecida,desconhecida,desconhecida,0.0
316783,2015,RO315972,Setúbal,Seixal,NaN,15:41:00,NaN,17:40:00,0.0,0.0,630.0,desconhecida,desconhecida,desconhecida,0.0
316784,2015,RO315827,Setúbal,Almada,NaN,16:42:00,NaN,17:50:00,0.0,0.0,630.0,desconhecida,desconhecida,desconhecida,0.0
316785,2015,BI215370,Castelo Branco,Covilhã,NaN,23:33:00,NaN,00:10:00,0.0,0.0,630.0,desconhecida,desconhecida,desconhecida,0.0

In [24]:
data[(data['category'] == 'desconhecida') & (data['specific'].isna())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [25]:
data[data['to_del'] == 'natural']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
902,2001,AG10182,Faro,Monchique,2001-07-20,15:12:00,2001-07-21,03:45:00,66.000000,0.0,5.0,natural,desconhecida,desconhecida,1.0
903,2001,AG10178,Faro,Portimão,2001-07-15,19:28:00,2001-07-16,05:14:00,13.500000,0.0,5.0,natural,desconhecida,desconhecida,1.0
904,2001,BI101225,Guarda,Gouveia,2001-07-02,04:15:00,2001-07-03,04:15:00,20.000000,0.0,5.0,natural,desconhecida,desconhecida,1.0
905,2001,BI101387,Guarda,Gouveia,2001-07-29,15:23:00,2001-07-29,20:00:00,5.000000,0.0,5.0,natural,desconhecida,desconhecida,0.0
906,2001,BI101399,Guarda,Seia,2001-07-30,14:30:00,2001-08-01,22:30:00,245.000000,0.0,5.0,natural,desconhecida,desconhecida,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331119,2020,TM220136,NaN,NaN,2020-06-30,17:53:00,2020-06-30,21:13:00,6.242746,NaN,NaN,natural,NaN,NaN,NaN
331169,2020,BI120240,NaN,NaN,2020-07-09,20:20:00,2020-07-10,00:36:00,11.979396,NaN,NaN,natural,NaN,NaN,NaN
331170,2020,BI120241,NaN,NaN,2020-07-09,20:32:00,2020-07-10,23:53:00,0.081145,NaN,NaN,natural,NaN,NaN,NaN
331171,2020,RO120354,NaN,NaN,2020-07-09,15:51:00,2020-07-09,18:00:00,0.879089,NaN,NaN,natural,NaN,NaN,NaN
331184,2020,BL120359,NaN,NaN,2020-07-11,19:47:00,2020-07-11,22:55:00,4.661665,NaN,NaN,natural,NaN,NaN,NaN

In [26]:
data[(data['to_del'] == 'natural') & (data['category'] == 'desconhecida') & (data['specific'] == 'desconhecida')]

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
902,2001,AG10182,Faro,Monchique,2001-07-20,15:12:00,2001-07-21,03:45:00,66.0,0.0,5.0,natural,desconhecida,desconhecida,1.0
903,2001,AG10178,Faro,Portimão,2001-07-15,19:28:00,2001-07-16,05:14:00,13.5,0.0,5.0,natural,desconhecida,desconhecida,1.0
904,2001,BI101225,Guarda,Gouveia,2001-07-02,04:15:00,2001-07-03,04:15:00,20.0,0.0,5.0,natural,desconhecida,desconhecida,1.0
905,2001,BI101387,Guarda,Gouveia,2001-07-29,15:23:00,2001-07-29,20:00:00,5.0,0.0,5.0,natural,desconhecida,desconhecida,0.0
906,2001,BI101399,Guarda,Seia,2001-07-30,14:30:00,2001-08-01,22:30:00,245.0,0.0,5.0,natural,desconhecida,desconhecida,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313179,2015,BI215296,Castelo Branco,Penamacor,NaN,19:34:00,NaN,21:20:00,0.0,0.0,51.0,natural,desconhecida,desconhecida,0.0
313180,2015,TM215449,Bragança,Macedo de Cavaleiros,NaN,15:31:00,NaN,17:44:00,0.0,0.0,51.0,natural,desconhecida,desconhecida,0.0
313181,2015,TM215589,Bragança,Vinhais,NaN,17:30:00,NaN,18:18:00,0.2,0.0,51.0,natural,desconhecida,desconhecida,0.0
313182,2015,RO115121,Santarém,Alcanena,NaN,19:09:00,NaN,20:24:00,0.0,0.0,51.0,natural,desconhecida,desconhecida,0.0
313183,2015,BI215300,Castelo Branco,Idanha-a-Nova,NaN,08:44:00,NaN,11:15:00,0.0,0.0,51.0,natural,desconhecida,desconhecida,0.0

In [27]:
data.iloc[data[(data['to_del'] == 'natural') & (data['category'] == 'desconhecida') & (data['specific'] == 'desconhecida')].index, 13] = 'natural'

In [28]:
data[data['to_del'] == 'natural']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
902,2001,AG10182,Faro,Monchique,2001-07-20,15:12:00,2001-07-21,03:45:00,66.000000,0.0,5.0,natural,desconhecida,natural,1.0
903,2001,AG10178,Faro,Portimão,2001-07-15,19:28:00,2001-07-16,05:14:00,13.500000,0.0,5.0,natural,desconhecida,natural,1.0
904,2001,BI101225,Guarda,Gouveia,2001-07-02,04:15:00,2001-07-03,04:15:00,20.000000,0.0,5.0,natural,desconhecida,natural,1.0
905,2001,BI101387,Guarda,Gouveia,2001-07-29,15:23:00,2001-07-29,20:00:00,5.000000,0.0,5.0,natural,desconhecida,natural,0.0
906,2001,BI101399,Guarda,Seia,2001-07-30,14:30:00,2001-08-01,22:30:00,245.000000,0.0,5.0,natural,desconhecida,natural,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331119,2020,TM220136,NaN,NaN,2020-06-30,17:53:00,2020-06-30,21:13:00,6.242746,NaN,NaN,natural,NaN,NaN,NaN
331169,2020,BI120240,NaN,NaN,2020-07-09,20:20:00,2020-07-10,00:36:00,11.979396,NaN,NaN,natural,NaN,NaN,NaN
331170,2020,BI120241,NaN,NaN,2020-07-09,20:32:00,2020-07-10,23:53:00,0.081145,NaN,NaN,natural,NaN,NaN,NaN
331171,2020,RO120354,NaN,NaN,2020-07-09,15:51:00,2020-07-09,18:00:00,0.879089,NaN,NaN,natural,NaN,NaN,NaN
331184,2020,BL120359,NaN,NaN,2020-07-11,19:47:00,2020-07-11,22:55:00,4.661665,NaN,NaN,natural,NaN,NaN,NaN

In [29]:
data[(data['to_del'] == 'natural') & (data['category'] != 'desconhecida') & (data['specific'] != 'desconhecida')]

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
322515,2016,DM4161395,Braga,Terras de Bouro,2016-08-24,14:43:00,2016-08-25,20:00:00,0.085396,NaN,NaN,natural,NaN,NaN,NaN
323147,2016,DM4161389,Braga,Póvoa de Lanhoso,2016-08-24,07:57:00,2016-08-24,08:31:00,237.083633,NaN,NaN,natural,NaN,NaN,NaN
323365,2016,AT21678,Portalegre,Fronteira,2016-06-28,16:18:00,2016-06-28,21:22:00,8.236092,NaN,NaN,natural,NaN,NaN,NaN
323371,2016,AT316143,Beja,Aljustrel,2016-07-07,10:45:00,2016-07-07,11:40:00,0.015922,NaN,NaN,natural,NaN,NaN,NaN
323411,2016,BI116475,Guarda,Pinhel,2016-08-25,15:45:00,2016-08-25,21:22:00,1.121259,NaN,NaN,natural,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331119,2020,TM220136,NaN,NaN,2020-06-30,17:53:00,2020-06-30,21:13:00,6.242746,NaN,NaN,natural,NaN,NaN,NaN
331169,2020,BI120240,NaN,NaN,2020-07-09,20:20:00,2020-07-10,00:36:00,11.979396,NaN,NaN,natural,NaN,NaN,NaN
331170,2020,BI120241,NaN,NaN,2020-07-09,20:32:00,2020-07-10,23:53:00,0.081145,NaN,NaN,natural,NaN,NaN,NaN
331171,2020,RO120354,NaN,NaN,2020-07-09,15:51:00,2020-07-09,18:00:00,0.879089,NaN,NaN,natural,NaN,NaN,NaN
331184,2020,BL120359,NaN,NaN,2020-07-11,19:47:00,2020-07-11,22:55:00,4.661665,NaN,NaN,natural,NaN,NaN,NaN

In [30]:
data.iloc[data[(data['to_del'] == 'natural') & (data['category'] != 'desconhecida') & (data['specific'] != 'desconhecida')].index, 13] = 'natural' 
data.iloc[data[(data['to_del'] == 'natural') & (data['category'] == 'natural') & (data['specific'] != 'desconhecida')].index, 12] = 'desconhecida'

In [31]:
data[data['to_del'] == 'natural']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
902,2001,AG10182,Faro,Monchique,2001-07-20,15:12:00,2001-07-21,03:45:00,66.000000,0.0,5.0,natural,desconhecida,natural,1.0
903,2001,AG10178,Faro,Portimão,2001-07-15,19:28:00,2001-07-16,05:14:00,13.500000,0.0,5.0,natural,desconhecida,natural,1.0
904,2001,BI101225,Guarda,Gouveia,2001-07-02,04:15:00,2001-07-03,04:15:00,20.000000,0.0,5.0,natural,desconhecida,natural,1.0
905,2001,BI101387,Guarda,Gouveia,2001-07-29,15:23:00,2001-07-29,20:00:00,5.000000,0.0,5.0,natural,desconhecida,natural,0.0
906,2001,BI101399,Guarda,Seia,2001-07-30,14:30:00,2001-08-01,22:30:00,245.000000,0.0,5.0,natural,desconhecida,natural,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331119,2020,TM220136,NaN,NaN,2020-06-30,17:53:00,2020-06-30,21:13:00,6.242746,NaN,NaN,natural,desconhecida,natural,NaN
331169,2020,BI120240,NaN,NaN,2020-07-09,20:20:00,2020-07-10,00:36:00,11.979396,NaN,NaN,natural,desconhecida,natural,NaN
331170,2020,BI120241,NaN,NaN,2020-07-09,20:32:00,2020-07-10,23:53:00,0.081145,NaN,NaN,natural,desconhecida,natural,NaN
331171,2020,RO120354,NaN,NaN,2020-07-09,15:51:00,2020-07-09,18:00:00,0.879089,NaN,NaN,natural,desconhecida,natural,NaN
331184,2020,BL120359,NaN,NaN,2020-07-11,19:47:00,2020-07-11,22:55:00,4.661665,NaN,NaN,natural,desconhecida,natural,NaN

In [32]:
data[data['to_del'] == 'reacendimento']

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
273207,2012,DM412238,Braga,Terras de Bouro,NaN,18:36:00,NaN,22:25:00,1.000000,0.0,711.0,reacendimento,NaN,NaN,0.0
273208,2012,DM312186,Viana do Castelo,Viana do Castelo,NaN,12:34:00,NaN,16:25:00,0.100000,1.0,711.0,reacendimento,NaN,NaN,0.0
273209,2012,DM412264,Braga,Vieira do Minho,NaN,10:18:00,NaN,12:50:00,2.000000,1.0,711.0,reacendimento,NaN,NaN,0.0
273210,2012,TM11265,Vila Real,Mondim de Basto,NaN,14:34:00,NaN,15:45:00,0.000000,1.0,711.0,reacendimento,NaN,NaN,0.0
273211,2012,DM412542,Braga,Vila Verde,NaN,14:45:00,NaN,16:20:00,0.400000,1.0,711.0,reacendimento,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331058,2020,DM2202264,NaN,NaN,2020-07-29,16:59:00,2020-07-29,19:45:00,2.055030,NaN,NaN,reacendimento,NaN,NaN,NaN
331060,2020,DM2202382,NaN,NaN,2020-08-01,16:49:00,2020-08-01,19:47:00,0.683337,NaN,NaN,reacendimento,NaN,NaN,NaN
331062,2020,DM2202828,NaN,NaN,2020-08-14,14:00:00,2020-08-14,15:13:00,2.236094,NaN,NaN,reacendimento,NaN,NaN,NaN
331087,2020,TM120722,NaN,NaN,2020-09-17,09:10:00,2020-09-17,10:12:00,2.537976,NaN,NaN,reacendimento,NaN,NaN,NaN
331225,2020,RO120327,NaN,NaN,2020-07-05,16:09:00,2020-07-05,20:39:00,26.590605,NaN,NaN,reacendimento,NaN,NaN,NaN

In [33]:
data[(data['to_del'] == 'reacendimento') & (data['specific'].notnull()) & (data['category'].notnull())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [34]:
data.iloc[data[data['to_del'] == 'reacendimento'].index, 13] = 'reacendimento' 
data.iloc[data[data['to_del'] == 'reacendimento'].index, 12] = 'desconhecida'

In [35]:
data.isna().sum()

year                    0
code                    0
region               3636
county               3585
start_date          85884
start_time            136
end_date            86108
end_time              489
total_ba                0
rekindling           9243
code_cause         223302
to_del             214790
specific           223090
category           223090
extinction_days      9683
dtype: int64

In [36]:
data[data['category'].isna()]

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
1161,2001,AG101103,Faro,Faro,2001-07-29,15:32:00,2001-07-29,17:20:00,0.000000,0.0,NaN,NaN,NaN,NaN,0.0
1162,2001,AG101107,Faro,Alcoutim,2001-07-31,23:37:00,2001-08-01,02:53:00,1.000000,0.0,NaN,NaN,NaN,NaN,1.0
1163,2001,AG101108,Faro,Silves,2001-08-01,17:02:00,2001-08-01,17:24:00,0.000000,0.0,NaN,NaN,NaN,NaN,0.0
1164,2001,AG101106,Faro,Aljezur,2001-07-19,00:28:00,2001-07-19,01:08:00,0.000000,0.0,NaN,NaN,NaN,NaN,0.0
1165,2001,AG1011,Faro,Silves,2001-02-18,13:20:00,2001-02-18,14:20:00,0.100000,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331221,2020,AT120137,NaN,NaN,2020-07-05,17:26:00,2020-07-05,18:56:00,14.988957,NaN,NaN,negligente,NaN,NaN,NaN
331222,2020,AG120614,NaN,NaN,2020-07-06,14:56:00,2020-07-07,10:00:00,535.632996,NaN,NaN,negligente,NaN,NaN,NaN
331223,2020,BL220206,NaN,NaN,2020-07-04,13:09:00,2020-07-05,00:53:00,156.279175,NaN,NaN,intencional,NaN,NaN,NaN
331224,2020,AT320158,NaN,NaN,2020-07-04,16:00:00,2020-07-04,17:07:00,1.407192,NaN,NaN,desconhecida,NaN,NaN,NaN
331226,2020,BL420269,NaN,NaN,2020-07-05,16:12:00,2020-07-05,18:36:00,1.170757,NaN,NaN,intencional,NaN,NaN,NaN

In [37]:
data[(data['category'].isna()) & (data['to_del'].notnull())]['to_del'].value_counts()

negligente      3712
intencional     2292
desconhecida    2284
                  12
Name: to_del, dtype: int64

In [38]:
data[(data['category'].isna()) & (data['specific'].notnull())]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [39]:
data.iloc[data[data['category'].isna()].index, 12:14] = 'desconhecida'

In [40]:
data.isna().sum()

year                    0
code                    0
region               3636
county               3585
start_date          85884
start_time            136
end_date            86108
end_time              489
total_ba                0
rekindling           9243
code_cause         223302
to_del             214790
specific                0
category                0
extinction_days      9683
dtype: int64

In [41]:
data[data['to_del'].isna()]

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
1161,2001,AG101103,Faro,Faro,2001-07-29,15:32:00,2001-07-29,17:20:00,0.000000,0.0,NaN,NaN,desconhecida,desconhecida,0.0
1162,2001,AG101107,Faro,Alcoutim,2001-07-31,23:37:00,2001-08-01,02:53:00,1.000000,0.0,NaN,NaN,desconhecida,desconhecida,1.0
1163,2001,AG101108,Faro,Silves,2001-08-01,17:02:00,2001-08-01,17:24:00,0.000000,0.0,NaN,NaN,desconhecida,desconhecida,0.0
1164,2001,AG101106,Faro,Aljezur,2001-07-19,00:28:00,2001-07-19,01:08:00,0.000000,0.0,NaN,NaN,desconhecida,desconhecida,0.0
1165,2001,AG1011,Faro,Silves,2001-02-18,13:20:00,2001-02-18,14:20:00,0.100000,0.0,NaN,NaN,desconhecida,desconhecida,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330801,2020,BI220340,NaN,NaN,2020-09-07,00:16:00,2020-09-07,01:51:00,6.763947,NaN,NaN,NaN,desconhecida,desconhecida,NaN
330886,2020,TM220256,NaN,NaN,2020-08-07,14:12:00,2020-08-07,20:35:00,4.116920,NaN,NaN,NaN,desconhecida,desconhecida,NaN
331145,2020,DM220593,NaN,NaN,2020-06-05,14:51:00,2020-06-05,15:30:00,0.967176,NaN,NaN,NaN,desconhecida,desconhecida,NaN
331151,2020,DM220764,NaN,NaN,2020-06-22,10:34:00,2020-06-22,12:04:00,2.650703,NaN,NaN,NaN,desconhecida,desconhecida,NaN
331189,2020,TM220159,NaN,NaN,2020-07-11,20:26:00,2020-07-11,22:11:00,6.304000,NaN,NaN,NaN,desconhecida,desconhecida,NaN

In [42]:
data[(data['to_del'].isna()) & (data['specific'] != 'desconhecida')]

Empty DataFrame
Columns: [year, code, region, county, start_date, start_time, end_date, end_time, total_ba, rekindling, code_cause, to_del, specific, category, extinction_days]
Index: []

In [43]:
data['category'].unique()

array(['desconhecida', 'uso do fogo', 'incendiarismo', 'natural',
       'acidentais', 'estruturais', 'reacendimento'], dtype=object)

In [44]:
data['category'].value_counts()

desconhecida     268376
uso do fogo       28209
incendiarismo     22730
reacendimento      7025
acidentais         2880
natural            1050
estruturais         957
Name: category, dtype: int64

In [45]:
data['specific'].unique()

array(['desconhecida', 'clandestinos', 'vandalismo',
       'outras situações dolosas', 'autárquica', 'indústria',
       'actividades clandestinas', 'núcleos habitacionais permanentes',
       'núcleos habitacionais temporários associados ao recreio',
       'limpeza do solo agrícola', 'limpeza do solo florestal',
       'limpeza de áreas urbanizadas', 'borralheiras',
       'renovação de pastagens',
       'penetração em áreas de caça e margens dos rios',
       'limpeza de caminhos, acessos e instalações',
       'proteção contra incêndios', 'outras', 'com medidas preventivas',
       'auto-ignição', 'recreio e lazer', 'confecção de comida',
       'fumadores a pé', 'em circulação motorizada', 'fumigação',
       'linhas eléctricas', 'caminhos de ferro', 'tubos de escape',
       'acidentes de viação', 'alfaias agrícolas', 'máquinas agrícolas',
       'equipamento florestal', 'motosserras', 'máquinas florestais',
       'máquinas industriais', 'outra maquinaria e equipamento', 'vidros',
       'conflitos de caça', 'danos provocados pela vida selvagem',
       'alterações no uso do solo',
       'pressão para venda de material lenhoso',
       'limitação ao uso e gestão do solo',
       'contradições no uso e fruição dos baldios',
       'brincadeiras de crianτas', 'irresponsabilidade de menores',
       'piromania', 'outras situações inimputáveis',
       'manobras de diversão', 'provocação aos meios de combate',
       'conflitos entre vizinhos', 'vinganças', 'reparação de estradas',
       'de habitação', 'outros acidentes', 'soldaduras', 'aquecimento',
       'exercícios militares', 'comércio', 'desinfestação', 'industriais',
       'explosivos', 'disparos de caçadores'], dtype=object)

In [46]:
data['specific'].value_counts()

desconhecida                 276451
vandalismo                    18837
renovação de pastagens        11698
outras                         4815
limpeza do solo florestal      4746
                              ...
desinfestação                    13
explosivos                       10
industriais                       9
reparação de estradas             6
disparos de caçadores             3
Name: specific, Length: 62, dtype: int64

In [47]:
data

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,code_cause,to_del,specific,category,extinction_days
0,2001,BL20190,Coimbra,Oliveira do Hospital,2001-07-02,16:40:00,2001-07-02,17:25:00,0.300000,1.0,12.0,negligente,desconhecida,desconhecida,0.0
1,2001,DM201114,Aveiro,Arouca,2001-08-03,17:47:00,2001-08-06,18:15:00,174.000000,0.0,12.0,negligente,desconhecida,desconhecida,3.0
2,2001,DM401117,Viana do Castelo,Melgaço,2001-09-17,18:59:00,2001-09-18,02:40:00,54.000000,0.0,12.0,negligente,desconhecida,desconhecida,1.0
3,2001,DM901112,Braga,Terras de Bouro,2001-09-04,23:05:00,2001-09-05,11:15:00,80.000000,0.0,12.0,negligente,desconhecida,desconhecida,1.0
4,2001,DM901113,Braga,Amares,2001-09-06,18:50:00,2001-09-07,00:25:00,28.000000,0.0,12.0,negligente,desconhecida,desconhecida,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331222,2020,AG120614,NaN,NaN,2020-07-06,14:56:00,2020-07-07,10:00:00,535.632996,NaN,NaN,negligente,desconhecida,desconhecida,NaN
331223,2020,BL220206,NaN,NaN,2020-07-04,13:09:00,2020-07-05,00:53:00,156.279175,NaN,NaN,intencional,desconhecida,desconhecida,NaN
331224,2020,AT320158,NaN,NaN,2020-07-04,16:00:00,2020-07-04,17:07:00,1.407192,NaN,NaN,desconhecida,desconhecida,desconhecida,NaN
331225,2020,RO120327,NaN,NaN,2020-07-05,16:09:00,2020-07-05,20:39:00,26.590605,NaN,NaN,reacendimento,desconhecida,reacendimento,NaN
331226,2020,BL420269,NaN,NaN,2020-07-05,16:12:00,2020-07-05,18:36:00,1.170757,NaN,NaN,intencional,desconhecida,desconhecida,NaN

In [48]:
data.iloc[data[data['category'] == 'desconhecida'].index, 13] = 'unknown' 
data.iloc[data[data['category'] == 'uso do fogo'].index, 13] = 'fire use' 
data.iloc[data[data['category'] == 'incendiarismo'].index, 13] = 'arsonism' 
data.iloc[data[data['category'] == 'reacendimento'].index, 13] = 'rekindling'  
data.iloc[data[data['category'] == 'acidentais'].index, 13] = 'accidental'  
data.iloc[data[data['category'] == 'estruturais'].index, 13] = 'structural'

In [49]:
data['category'].unique()

array(['unknown', 'fire use', 'arsonism', 'natural', 'accidental',
       'structural', 'rekindling'], dtype=object)

In [50]:
data['negligent'] = 0 
data['intentional'] = 0 
data['negligent'] = data.iloc[data[data['to_del'] == 'negligente'].index, 11] 
data['intentional'] = data.iloc[data[data['to_del'] == 'intencional'].index, 11] 
data.iloc[data[data['negligent'].isna()].index, -2] = 0 
data.iloc[data[data['negligent'] == 'negligente'].index, -2] = 1 
data.iloc[data[data['intentional'].isna()].index, -1] = 0 
data.iloc[data[data['intentional'] == 'intencional'].index, -1] = 1 
data.iloc[data[data['rekindling'].isna()].index, 9] = 0 
data['rekindling'] = data['rekindling'].astype('int32')
data.drop(['code_cause', 'to_del'], axis=1, inplace=True)

In [51]:
data

,year,code,region,county,start_date,start_time,end_date,end_time,total_ba,rekindling,specific,category,extinction_days,negligent,intentional
0,2001,BL20190,Coimbra,Oliveira do Hospital,2001-07-02,16:40:00,2001-07-02,17:25:00,0.300000,1,desconhecida,unknown,0.0,1,0
1,2001,DM201114,Aveiro,Arouca,2001-08-03,17:47:00,2001-08-06,18:15:00,174.000000,0,desconhecida,unknown,3.0,1,0
2,2001,DM401117,Viana do Castelo,Melgaço,2001-09-17,18:59:00,2001-09-18,02:40:00,54.000000,0,desconhecida,unknown,1.0,1,0
3,2001,DM901112,Braga,Terras de Bouro,2001-09-04,23:05:00,2001-09-05,11:15:00,80.000000,0,desconhecida,unknown,1.0,1,0
4,2001,DM901113,Braga,Amares,2001-09-06,18:50:00,2001-09-07,00:25:00,28.000000,0,desconhecida,unknown,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331222,2020,AG120614,NaN,NaN,2020-07-06,14:56:00,2020-07-07,10:00:00,535.632996,0,desconhecida,unknown,NaN,1,0
331223,2020,BL220206,NaN,NaN,2020-07-04,13:09:00,2020-07-05,00:53:00,156.279175,0,desconhecida,unknown,NaN,0,1
331224,2020,AT320158,NaN,NaN,2020-07-04,16:00:00,2020-07-04,17:07:00,1.407192,0,desconhecida,unknown,NaN,0,0
331225,2020,RO120327,NaN,NaN,2020-07-05,16:09:00,2020-07-05,20:39:00,26.590605,0,desconhecida,rekindling,NaN,0,0
331226,2020,BL420269,NaN,NaN,2020-07-05,16:12:00,2020-07-05,18:36:00,1.170757,0,desconhecida,unknown,NaN,0,1

In [52]:
def null_datetime(x): 
    if str(x) != 'nan': 
        return dt.datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S')
    else: 
        return x

In [53]:
data['start_datetime'] = data['start_date'] +' '+ data['start_time'] 
data['end_datetime'] = data['end_date'] +' '+ data['end_time'] 
data['start_datetime'] = data['start_datetime'].apply(lambda x: null_datetime(x)) 
data['end_datetime'] = data['end_datetime'].apply(lambda x: null_datetime(x)) 
data['extinction_time'] = data['end_datetime'] - data['start_datetime'] 
data.drop(['start_date', 'start_time', 'end_date', 'end_time', 'extinction_days'], axis=1, inplace=True)

In [54]:
def null_month(x): 
    if str(x) != 'NaT': 
        return x.strftime('%b')
    else: 
        return x

In [55]:
data['month'] = data['start_datetime'].apply(lambda x: null_month(x))

In [56]:
data

,year,code,region,county,total_ba,rekindling,specific,category,negligent,intentional,start_datetime,end_datetime,extinction_time,month
0,2001,BL20190,Coimbra,Oliveira do Hospital,0.300000,1,desconhecida,unknown,1,0,2001-07-02 16:40:00,2001-07-02 17:25:00,0 days 00:45:00,Jul
1,2001,DM201114,Aveiro,Arouca,174.000000,0,desconhecida,unknown,1,0,2001-08-03 17:47:00,2001-08-06 18:15:00,3 days 00:28:00,Aug
2,2001,DM401117,Viana do Castelo,Melgaço,54.000000,0,desconhecida,unknown,1,0,2001-09-17 18:59:00,2001-09-18 02:40:00,0 days 07:41:00,Sep
3,2001,DM901112,Braga,Terras de Bouro,80.000000,0,desconhecida,unknown,1,0,2001-09-04 23:05:00,2001-09-05 11:15:00,0 days 12:10:00,Sep
4,2001,DM901113,Braga,Amares,28.000000,0,desconhecida,unknown,1,0,2001-09-06 18:50:00,2001-09-07 00:25:00,0 days 05:35:00,Sep
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331222,2020,AG120614,NaN,NaN,535.632996,0,desconhecida,unknown,1,0,2020-07-06 14:56:00,2020-07-07 10:00:00,0 days 19:04:00,Jul
331223,2020,BL220206,NaN,NaN,156.279175,0,desconhecida,unknown,0,1,2020-07-04 13:09:00,2020-07-05 00:53:00,0 days 11:44:00,Jul
331224,2020,AT320158,NaN,NaN,1.407192,0,desconhecida,unknown,0,0,2020-07-04 16:00:00,2020-07-04 17:07:00,0 days 01:07:00,Jul
331225,2020,RO120327,NaN,NaN,26.590605,0,desconhecida,rekindling,0,0,2020-07-05 16:09:00,2020-07-05 20:39:00,0 days 04:30:00,Jul
331226,2020,BL420269,NaN,NaN,1.170757,0,desconhecida,unknown,0,1,2020-07-05 16:12:00,2020-07-05 18:36:00,0 days 02:24:00,Jul

In [57]:
data = pd.concat([data['year'], 
          data['month'], 
          data.iloc[:,1:4], 
          data[['start_datetime', 'end_datetime']], 
          data[['category', 'specific']], 
          data['total_ba'], 
          data[['rekindling', 'negligent', 'intentional', 'extinction_time']]], axis=1)
data.reset_index(drop=True, inplace=True)
data

,year,month,code,region,county,start_datetime,end_datetime,category,specific,total_ba,rekindling,negligent,intentional,extinction_time
0,2001,Jul,BL20190,Coimbra,Oliveira do Hospital,2001-07-02 16:40:00,2001-07-02 17:25:00,unknown,desconhecida,0.300000,1,1,0,0 days 00:45:00
1,2001,Aug,DM201114,Aveiro,Arouca,2001-08-03 17:47:00,2001-08-06 18:15:00,unknown,desconhecida,174.000000,0,1,0,3 days 00:28:00
2,2001,Sep,DM401117,Viana do Castelo,Melgaço,2001-09-17 18:59:00,2001-09-18 02:40:00,unknown,desconhecida,54.000000,0,1,0,0 days 07:41:00
3,2001,Sep,DM901112,Braga,Terras de Bouro,2001-09-04 23:05:00,2001-09-05 11:15:00,unknown,desconhecida,80.000000,0,1,0,0 days 12:10:00
4,2001,Sep,DM901113,Braga,Amares,2001-09-06 18:50:00,2001-09-07 00:25:00,unknown,desconhecida,28.000000,0,1,0,0 days 05:35:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331222,2020,Jul,AG120614,NaN,NaN,2020-07-06 14:56:00,2020-07-07 10:00:00,unknown,desconhecida,535.632996,0,1,0,0 days 19:04:00
331223,2020,Jul,BL220206,NaN,NaN,2020-07-04 13:09:00,2020-07-05 00:53:00,unknown,desconhecida,156.279175,0,0,1,0 days 11:44:00
331224,2020,Jul,AT320158,NaN,NaN,2020-07-04 16:00:00,2020-07-04 17:07:00,unknown,desconhecida,1.407192,0,0,0,0 days 01:07:00
331225,2020,Jul,RO120327,NaN,NaN,2020-07-05 16:09:00,2020-07-05 20:39:00,rekindling,desconhecida,26.590605,0,0,0,0 days 04:30:00
331226,2020,Jul,BL420269,NaN,NaN,2020-07-05 16:12:00,2020-07-05 18:36:00,unknown,desconhecida,1.170757,0,0,1,0 days 02:24:00

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331227 entries, 0 to 331226
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             331227 non-null  int64
 1   month            245343 non-null  object
 2   code             331227 non-null  object
 3   region           327591 non-null  object
 4   county           327642 non-null  object
 5   start_datetime   245343 non-null  datetime64[ns]
 6   end_datetime     245089 non-null  datetime64[ns]
 7   category         331227 non-null  object
 8   specific         331227 non-null  object
 9   total_ba         331227 non-null  float64
 10  rekindling       331227 non-null  int32
 11  negligent        331227 non-null  object
 12  intentional      331227 non-null  object
 13  extinction_time  245089 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(8), timedelta64[ns](1)
memory usage: 34.1+ MB

In [59]:
data.to_csv(os.path.join(os.path.abspath(os.curdir), 'data', 'fire_final.csv'))